body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#master-grid {
    width: 960px;
    height: 960px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.gridDivs {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    
    

    
}

.gridRow {

}

.cell {
    
}
